.signUpBody {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  padding: 2rem;
}

.signUpContainer h1 {
  margin-bottom: 1rem;
}

.signUpContainer p {
  margin-top: 0;
}

.signUpContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.signUpContainer .formInput {
  display: flex;
  flex-direction: column;
}

.signUpContainer .formInput label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.signUpContainer .formInput input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}